.section1image{
    width: 1350px;
   height: 800px;
    background-image: url("images/drew-coffman-1872.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
}


.nav{
    color:white;
    float: left;
    margin-left:70px;
    margin-top: 35px;
    
    
    
}
.imgnav{
    float: left; 
    margin-top: 20px;
    margin-left: 60px; ;
}
.clr{
    clear:both;
}
.welcome{

    text-align: center;
    margin:auto;
    padding-top: 180px;
}
 .who{
   width:45% ;
    display: inline-block;
    
}  
.who img{
    width:95%;
}
.list{
    line-height:50px;
     font-size:22px; 
     font-family: 'Alegreya Sans', sans-serif; 
     color:686868;
     
    padding-bottom: 10px;
     
}
.location{
    width: 43%;
    display: inline-block;
    margin-top: 90px ;
    margin-bottom: 90px ;
}
.location img{
    width:100%;
}

.paraghraphloc{
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 23px; 
    color:#686868 ;
    line-height: 40px;

}
.section4{
    width:30%;
    float:left;
    text-align: center;
}
.section4 img{
    width:100%
}
.titlesection4{
    font-family: 'Alegreya', serif ;
    font-size: 22px;
    color: 303030;
    line-height: 30.36px;
}
.psection4{
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 17px;
    line-height: 31.62px;
    color: 686868;
}
.section5{
    width:40%;
    float:left;
    margin: 85px 55px 85px 25px;
}
.section6{
    width:20%;
    float: left;
}
.hrcolor{
    border-bottom: 1px solid rgba(255,255,255,0.05);
   
}
.listsec6{
    font-size:17px; 
     font-family: 'Alegreya Sans', sans-serif; 
     line-height: 32px;
     color: 969696;
     margin-bottom:6px;
}
.headingsec6{
    font-family: 'Alegreya', serif ;
    font-size: 18px;
    line-height: 24.84px;
    color:#ffffff;
  

}
.div4sec6{
    background-image: url(images/contact-details-map.png );
   background-repeat: no-repeat;
   background-position: center;
 
   
}